@model IEnumerable<PasqualeSite.Data.Entities.Post>

<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        var $sync1 = $("#owlArticle");
        var $sync2 = $("#owlThumb");
        var flag = false;
		var duration = 300;

        $sync1
            .owlCarousel({
                items: 1,
                margin: 10,
                dots: true,
                lazyLoad: true,
                loop: true
            })
            .on('changed.owl.carousel', function (e) {
                if (!flag) {
                    flag = true;
                    $sync2.trigger('to.owl.carousel', [e.item.index, duration, true]);
                    flag = false;
                }
            });

        $('.right-arrow').click(function () {
            $sync1.trigger('next.owl.carousel');
        })
        // Go to the previous item
        $('.left-arrow').click(function () {
            // With optional speed parameter
            // Parameters has to be in square bracket '[]'
            $sync1.trigger('prev.owl.carousel');
        })

        $sync2
            .owlCarousel({
                margin: 20,
                items: 6,
                dots: true,
            })
            .on('click', '.owl-item', function () {
                $sync1.trigger('to.owl.carousel', [$(this).index(), duration, true]);

            })
            .on('changed.owl.carousel', function (e) {
                if (!flag) {
                    flag = true;
                    $sync1.trigger('to.owl.carousel', [e.item.index, duration, true]);
                    flag = false;
                }
            });

        
    });
</script>

<div class="well">
    <div id="owl" class="container">
        <div class="row">
            <div class="col-lg-1 left-arrow"><span class="glyphicon glyphicon-chevron-left"></span></div>
            <div class="col-lg-10 carousel-container">
                <div id="owlArticle" class="owl-carousel">
                    @foreach (var post in Model)
                    {

                        <div class="carousel-item">
                            @if (post.Image != null)
                            {
                                <h3 class="carousel-img">
                                    <img class="carouselImg img-responsive" src="@post.Image.Path" />
                                </h3>
                            }
                            <div class="side">
                                <h1><a href="@Url.Action("Post", "Blog", new { year = post.DateCreated.Year, month = post.DateCreated.Month, day = post.DateCreated.Day, title = post.UrlTitle  })">@post.Title</a></h1>
                                <p class="byline">by @post.Author  | Posted on @post.DateCreated.ToLongDateString() at @post.DateCreated.ToShortTimeString()</p>
                                <hr />                             
                                <p>@post.Teaser</p>
                            </div>
                        </div>

                    }
                </div>                         
            </div>
            <div class="col-lg-1 right-arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>
        </div>
    </div>
</div>




