@model PasqualeSite.Data.Entities.Post

@{
    ViewBag.Title = Model.Title;
    var modifiedString = Model.DateModified != null ? String.Format(" | Modified on {0} at {1}", Model.DateModified.Value.ToLongDateString(), Model.DateModified.Value.ToShortTimeString()) : String.Empty;
}

@section meta {
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="blog" />
    <meta property="og:image" content="@(Model.Image != null ? Model.Image.Path : "http://images.thesqualls.com/images/logo1")" />
    <meta property="og:description" content="@Model.Teaser" />

    <meta property="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Teaser" />
    <meta name="twitter:image" content="@(Model.Image != null ? Model.Image.Path : "http://images.thesqualls.com/images/logo1")" />
}

<script>
    $(document).ready(function () {
        $('.blog_link').addClass('active');
        $container = $('.rss-container');
        $title = $('.rss-title');
        $description = $('.rss-description');
        $items = $('.rss-items');
        $.ajax({
            url: approot + "RSS/GetRSSFeed",
            type: "GET",
            success: function (data) {
                var json = JSON.parse(data);
                $container.show()
                $title.append("<a target='_blank' href='" + json.Link + "'>" + json.Title + "</a>");
                $description.append(json.Description);
                $.each(json.Items, function (i, val) {
                    if (i == 10) {
                        return false;
                    }
                    var title = "<div class='rss-link-text'><a target='_blank' href='" + val.Link + "'>" + val.Title + "</a></div>";
                    var description = "<div class='byline'>" + val.Description + "</div></br>";
                    $items.append(title + description);
                })
            }
        })

        function filterPath(string) {
            return string
              .replace(/^\//, '')
              .replace(/(index|default).[a-zA-Z]{3,4}$/, '')
              .replace(/\/$/, '');
        }
        var locationPath = filterPath(location.pathname);
        var scrollElem = scrollableElement('html', 'body');

        $('a[href*=#]').each(function () {
            var thisPath = filterPath(this.pathname) || locationPath;
            if (locationPath == thisPath
            && (location.hostname == this.hostname || !this.hostname)
            && this.hash.replace(/#/, '')) {
                var $target = $(this.hash), target = this.hash;
                if (target) {
                    var targetOffset = $target.offset().top - 20;
                    $(this).click(function (event) {
                        event.preventDefault();
                        $(scrollElem).animate({ scrollTop: targetOffset }, 400, function () {
                            location.hash = target;
                        });
                    });
                }
            }
        });

        // use the first element that is "scrollable"
        function scrollableElement(els) {
            for (var i = 0, argLength = arguments.length; i < argLength; i++) {
                var el = arguments[i],
                    $scrollElement = $(el);
                if ($scrollElement.scrollTop() > 0) {
                    return el;
                } else {
                    $scrollElement.scrollTop(1);
                    var isScrollable = $scrollElement.scrollTop() > 0;
                    $scrollElement.scrollTop(0);
                    if (isScrollable) {
                        return el;
                    }
                }
            }
            return [];
        }
    })
</script>



<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        @foreach (var tag in Model.PostTags)
                        {
                            <a href="@Url.Action("Index", "Blog", new { tag = tag.Tag.Name })" class="label label-default tag-data hvr-icon-pulse">@tag.Tag.Name</a>
                            <span>  </span>
                        }
                    </p>

                </div>
            </div>
            <div class="well blog-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@Model.Title</h2>
                        <span class="author">
                            <span class="glyphicon glyphicon-user"></span> @Model.Author
                        </span>
                        &nbsp;&nbsp;
                        <span class="datestamp">
                            <span class="glyphicon glyphicon-time"></span> @(Model.DateCreated.ToShortDateString() + " | " + Model.DateCreated.ToLongTimeString())
                        </span>
                        &nbsp;&nbsp;
                        <span class="commentcount">
                            <span class="glyphicon glyphicon-comment"></span> <a href="#disqus_thread"><span class="disqus-comment-count" data-disqus-identifier="@Model.Id"></span></a>
                        </span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        @Html.Raw(Model.PostContent)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="rss well">
                <h2 class="rss-head">What's happening?</h2>
                <p class="byline">Your up-to-date dose of what's happening around the world of tech and video games, courtesy of: </p>
                <div class="rss-title"></div>
                <div class="rss-description"></div>
                <hr />
                <div class="rss-container">
                    <div class="rss-items">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
            this.page.url = "http://www.thesqualls.com" + "@Url.Action("Post", "Blog", new { year = Model.DateCreated.Year, month = Model.DateCreated.Month, day = Model.DateCreated.Day, title = Model.UrlTitle  })";
            this.page.identifier = "@Model.Id"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//thesqualls.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>

