
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/plugins/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/owl/owl.carousel.min.js"></script>
    <script src="~/js/knockout-3.4.0.js"></script>
    <script src="~/js/knockout-mapping.js"></script>
    <script src="~/js/knockout.mapping.merge.js"></script>
    <script src="~/js/plugins/kogrid/koGrid-2.1.1.js"></script>
    <script src="~/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/js/knockouthandlers.js"></script>
    <script src="~/js/plugins/datejs/date.js"></script>
    <script src="~/js/plugins/notify/notify.min.js"></script>
    <script src="~/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/js/plugins/freewall/freewall1.0.6.js"></script>
    <script src="~/js/app.js"></script>

    <script>
        PasqualeSite.notify = function (message, type, position, element) {
            position = position == null || typeof (position) == 'undefined' ? "top-right" : position;
            type = type == null || typeof (position) == 'undefined' ? "success" : type;

            if (element == null || typeof (element) == 'undefined') {
                $.notify(message, type);
            }

            else {
                $(element).notify(message, { position: position, className: type })
            }
        }

        var approot = "@Url.Content("~/")";
    </script>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/plugins/owl/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/js/plugins/owl/assets/owl.theme.css" rel="stylesheet" />
    <link href="~/js/plugins/kogrid/KoGrid.css" rel="stylesheet" />
    <link href="~/js/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="shortcut icon" href="~/images/favicon.ico" type='image/x-icon' />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top-banner">
                <div class="container container-logo"><div class="row"><img class="logo" src="~/img/transparentlogo.png" /></div></div>
            </div>
            <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                        <a class="blog-nav-item home_link" href="@Url.Action("Index", "Home")">Home</a>
                        <a class="blog-nav-item blog_link" href="@Url.Action("Index", "Blog")">Blog</a>
                        <a class="blog-nav-item portfolio_link" href="@Url.Action("Index", "Portfolio")">Portfolio</a>
                    </nav>
                </div>
            </div> 
        </div>
        <div class="content">
            <div id="main" class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>  
        <div class="push"></div>      
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year thesqualls.com</p>
        </div>
    </footer>
</body>
</html>
