@using System.Web
@using System.Web.Optimization

<!DOCTYPE html>

<html lang="en">
<head>
    <!--
                       GO JAGS!!  
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM8IIII?MMMMNMMMI?I8MMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMI?IIIIIIIIIIDI?IIIIIIIZMMDMMIIIMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMN8$.II??????II$MMMMIIIIMMM?II7IMM?IIIIII$ZM?I?NMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMM. .OIIIIMMIIIIOMMIIIIIIIIIIIIDMN?II?MMOI??ZII7MMIMMMMMMMMMMMMMMMMMMM
MMMMMMM.   .MMMIIIIMMDIIIIIII$$NMM$$$$MD$$$$MI~.M?IIM8I?MNIIND?7MMMMMMMMMMMMMMMM
MMMMMMMM      MMMM$$$$$$$7$$$$$NMM$$MMMM$$$.M.MM$II?N7IIIIII?IIIIOMMMMMMMMMMMMMM
MMMMMMMMM   .MMMMMMMMMMM$MMM$$$NZ$$$$7$7..MMM?.N=$$?IIIIIM7IIIIMZ$$MMMMMMMMMMMMM
MMMMMMMMMMM      ...$$$$NMM$$$$$$$M$$$7II.MMOZZMMM~7$IIIIMMIIIII?MMMMMMMMMMMMMMM
MMMMMMMMMMMMMM=.~MM$$NM$$$$$D7$$$$MD$$7II?. .MMOOZMM8$$DMM7$IIIII?+MMMMMMMMMMMMM
MMMMMMMMMMMMMM$$$$$$$MM$$$$MMMM7$$$$$MZ$7IIIII?,MM?I$77MMMMOIIIIIIIIMMMMMMMMMMMM
MMMMMMMMMMMMMM$$$$MM$$$$$$$$MMMZ$7$$$$$$$$$MMOI?IIM$I$7$$$$$$IIIIIIMZ?MMMMMMMMMM
MMMMMMMMMMMMMM$$$$MM$$7MM7$........   .. MM77III8MM?IIINMMNZ7IIIIIIIIIMMMMMMMMMM
MMMMMMMMMMMMMMMM$$MMM$$$MMM...     ,MD.       .MM8II7MMIII.DMMNZMMN?MMMM,MMMMMMM
MMMMMMMMMMMMMMMM$$MI$$7$MMM.          MMMMMMM, .   MMMIIIII.  8M8ZZMMM. .DMMMMMM
MMMMMMMMMMMMMMMMM7$7..     . ...    .MMMMMMMMMMMMMN . .MN?..    MON.   N7MMMMMMM
MMMMMMMMMMMMMMMMM$$$MMMMM  MMMMM$   MMNOZOMMMMMMM  .MM          .,.    MMMMMMMMM
MMMMMMMMMMMMMMMMMN.MMMMMM   .=.M.  .MMMMOZZOMZOMMMM.       .MMMMMMMM  .MMMMMMMMM
MMMMMMMMMMMMMMMMMMM..ZMM           DMMMMMOOZOMZZMMMMMMMMMMMMMD.    .MMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMM.   MMMMMMMM  .MMMMMMZZZMZZMMMMMMM.  M.MMMMM  MMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM.  .8MDMM.  MMMMMMZZZOMOMMMMMM?  NMMMMMM.DMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMM.  . .   MMMMMMZZZZMODMMMMN.MMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM..    .MMMMMZZZZMOOMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN    .MMMMZZZZMZZMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.   NMMM8ZZZZOZOM.MMMMM MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN   MMMMOZZZZZM..MDMM ,MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7   DMMMMZZDN. ...   MMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+   .MMMMM. .NMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.    MMMMN       .MMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.               MMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM~.          MMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO8M.  MMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <meta name="description" content="A website containing reactions to the newest news in development, tech, and video games!">
    <meta property="fb:admins" content="10105088260911193" />

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    @RenderSection("meta", required: false)
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/sitejs")
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("WorkareaJS", required: false)
    
       
    <script src="~/js/app.js"></script>

    <script>
        function linkify(inputText) {
            var replacedText, replacePattern1, replacePattern2, replacePattern3;

            //URLs starting with http://, https://, or ftp://
            replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@@#\/%?=~_|!:,.;]*[-A-Z0-9+&@@#\/%=~_|])/gim;
            replacedText = inputText.replace(replacePattern1, "<a href='$1' target='_blank'>$1</a>");

            //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
            replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
            replacedText = replacedText.replace(replacePattern2, "$1<a href='http://$2' target='_blank'>$2</a>");

            //Change email addresses to mailto:: links.
            replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
            replacedText = replacedText.replace(replacePattern3, "<a href='mailto:$1'>$1</a>");

            return replacedText;
        }

        function parseTwitterDate(tdate) {
            var system_date = new Date(Date.parse(tdate));
            var user_date = new Date();
            if (K.ie) {
                system_date = Date.parse(tdate.replace(/( \+)/, ' UTC$1'))
            }
            var diff = Math.floor((user_date - system_date) / 1000);
            if (diff <= 1) { return "just now"; }
            if (diff < 20) { return diff + " seconds ago"; }
            if (diff < 40) { return "half a minute ago"; }
            if (diff < 60) { return "less than a minute ago"; }
            if (diff <= 90) { return "one minute ago"; }
            if (diff <= 3540) { return Math.round(diff / 60) + " minutes ago"; }
            if (diff <= 5400) { return "1 hour ago"; }
            if (diff <= 86400) { return Math.round(diff / 3600) + " hours ago"; }
            if (diff <= 129600) { return "1 day ago"; }
            if (diff < 604800) { return Math.round(diff / 86400) + " days ago"; }
            if (diff <= 777600) { return "1 week ago"; }
            return "on " + system_date;
        }

        // from http://widgets.twimg.com/j/1/widget.js
        var K = function () {
            var a = navigator.userAgent;
            return {
                ie: a.match(/MSIE\s([^;]*)/)
            }
        }();

        PasqualeSite.notify = function (message, type, position, element) {
            position = position == null || typeof (position) == 'undefined' ? "top-right" : position;
            type = type == null || typeof (position) == 'undefined' ? "success" : type;

            if (element == null || typeof (element) == 'undefined') {
                $.notify(message, type);
            }

            else {
                $(element).notify(message, { position: position, className: type })
            }
        }


        var approot = "@Url.Content("~/")";

        var popup = function (url) {
            window.open(url, "_blank", "width=500,height=500");
        }

        $(document).ready(function () {
            $('.dropdown').click(function() {
                $('.dropdown-content').toggle();
            })

            $.getJSON(approot + "api/Twitter/squale71", function (data) {
                var $container = $('.twitterText');
                var count = 0;
                var twitterHtml = ""
                $.each(data, function (key, val) {
                    if (count >= 4) {
                        return;
                    }
                    count++
                    var hashLinks = [];
                    var tweet = val.text
                    for (var i = 0; i < val.entities.hashtags.length; i++) {
                        var link = "<a target='_blank' href='//twitter.com/hashtag/" + val.entities.hashtags[i].text + "?src=hash'>#" + val.entities.hashtags[i].text + "</a>";
                        hashLinks.push(link);
                        var tag = "#" + val.entities.hashtags[i].text
                        tweet = tweet.replace(tag, "")
                    }
                    tweet = linkify(tweet.trim() + " " + hashLinks.join(" "));
                    twitterHtml += "<p id='" + key + "'>" + tweet + "</p>" + "<p class='twitterDate'>" + parseTwitterDate(val.created_at) + "</p>"
                    console.log(twitterHtml);
                });
                $('.twitterText').html(twitterHtml);
            });

            $.ajax({
                url: approot + 'api/instagram/squale7',
                dataType: 'json',
                success: function (json) {
                    for (var i = 0; i < json.items.length || i <= 5; i++) {
                        var link = json.items[i].link;
                        var thumb = "<div class=\"thumbnail\"><a target='_blank' href=\"" + link + "\"><img src=\"" + json.items[i].images.thumbnail.url + "\" alt=\"Image\" /></a></div>"
                        $('.instagramPhotos').append(thumb);
                    }
                }
            })

        })
    </script>

    @RenderSection("WorkareaCSS", required: false)
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    @Styles.Render("~/Content/sitecss")

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="shortcut icon" href="~/images/favicon.ico" type='image/x-icon' />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77731756-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="top-banner">
                <div class="container container-logo"><div class="row"><img class="logo" src="~/img/transparentlogo.png" /></div></div>
            </div>
            <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                        <a class="blog-nav-item home_link" href="@Url.Action("Index", "Home", new { Area = string.Empty })">Home</a><br class="mobile-break" />
                        <a class="blog-nav-item blog_link" href="@Url.Action("Index", "Blog", new { Area = string.Empty })">Blog</a><br class="mobile-break" />
                        <a class="blog-nav-item portfolio_link" href="@Url.Action("Index", "Portfolio", new { Area = string.Empty })">Portfolio</a><br class="mobile-break" />
                        <div class="dropdown blog-nav-item projects_link">
                            <span>Projects <span class="caret"></span></span>
                            <div class="dropdown-content">
                                <div class="sub-header">Fun Projects</div>
                                <hr />
                                <p><a href="@Url.Action("HearthBuilder", "Fun", new { Area = "Projects" })">Hearthstone Deck Builder</a></p>
                                <div class="sub-header">Websites I've Worked On</div>
                                <hr />
                                <p><a target="_blank" href="http://www.mocajacksonville.unf.edu">MOCA Jacksonville</a></p>
                                <p><a target="_blank" href="http://www.unf.edu">University of North Florida</a></p>
                                <hr />
                                <br />
                                <p class="byline">See my Portfolio for some demos on other projects I've built. There is more to come!</p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div> 
        </div>
        <div class="content">
            <div id="main" class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>  
        <div class="push"></div>      
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="twitterFeed">
                                <p><b>Latest Tweets from <a target="_blank" href="https://twitter.com/squale71">@@squale71</a></b></p>
                                <hr />
                                <div class="twitterText">
                                </div>
                            </div>
                            <div class="mobile-separator"></div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="instagramFeed">
                                <p><b>Latest Photos from <a target="_blank" href="https://www.instagram.com/squale7/">@@squale7</a></b></p>
                                <hr />
                                <div class="instagramPhotos">
                                </div>
                            </div>                           
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-separator"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 bottom-menu">
                    <div class="bottom-nav">
                        <p><b>Site Information</b></p>
                        <hr />
                        <p><a href="@Url.Action("Index", "About", new { Area = string.Empty })">About</a></p>
                        <p><a href="@Url.Action("Index", "Contact", new { Area = string.Empty })">Contact</a></p>
                        <p><a href="@Url.Action("Privacy", "About", new { Area = string.Empty })">Privacy</a></p>
                    </div>                  
                </div>               
            </div>    
            <hr />
            <div class="copyright row">
                <div class="col-md-12">
                    <p style="text-align: right;">thesqualls &copy; @DateTime.Now.Year. All Rights Reserved.</p>
                </div>
            </div>        
        </div>
    </footer>
    <script id="dsq-count-scr" src="//thesqualls.disqus.com/count.js" async></script>
</body>
</html>
